# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystems are summarized

### Objectives:
1. List Popular languages for Data Science
2. List commonly used libraries for Data Science
3. List Data Science Tools
4. Give examples of evaluating arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPY
3. SciPy

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Isha Agrawal